#define NOKANJI
#define NOMDI
#define NOSOUND
#define NOLOGERROR
#define NOPROFILER
#define NOMETAFILE
#define NOSYSTEMPARAMSINFO
#define NOWH
#define NONLS
#define NOSERVICE
#define WIN32_LEAN_AND_MEAN

#include <windows.h>
#include "hamexam.h"

APPNAME_RAW ICON "hamexam.ico"

APPNAME_RAW MENU
{
 POPUP "&File"
 {
  MENUITEM "E&xit", FILE_EXIT
 }

 POPUP "&Exam"
 {
  MENUITEM "&Practice", EXAM_PRACTICE
  MENUITEM "Practice &All", EXAM_PRACTICE_ALL
  MENUITEM "&Test", EXAM_TEST
 }

 POPUP "&Questions"
 {
  MENUITEM "2  Novice", QUESTIONS_NOVICE
  MENUITEM "3A Technician", QUESTIONS_TECHNICIAN
  MENUITEM "3B General", QUESTIONS_GENERAL
  MENUITEM "4A Advanced", QUESTIONS_ADVANCED
  MENUITEM "4B Extra", QUESTIONS_EXTRA
 }

 POPUP "&Help", HELP
 {
  MENUITEM "&HamExam Help", HELP_HAMEXAM
  MENUITEM "&About...", HELP_ABOUT
 }
}

APPNAME_RAW DIALOG 0, 12, 360, 266
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS APPNAME
CAPTION APPNAME
MENU APPNAME
FONT 8, "MS Sans Serif"
{
 CTEXT "HamExam", COPYRIGHT_TEXT, 0, 257, 365, 10, SS_CENTER | NOT WS_GROUP
 LTEXT "", QUESTION_NUMBER_TEXT, 0, 0, 48, 8, NOT WS_VISIBLE
 RTEXT "", QUESTION_OF_TEXT, 311, 0, 48, 8, NOT WS_VISIBLE
 PUSHBUTTON "A", ANSWER_A_BUTTON, 6, 38, 19, 15, WS_GROUP | WS_TABSTOP | NOT WS_VISIBLE
 PUSHBUTTON "B", ANSWER_B_BUTTON, 6, 65, 19, 15, WS_TABSTOP | NOT WS_VISIBLE
 PUSHBUTTON "C", ANSWER_C_BUTTON, 6, 92, 19, 15, WS_TABSTOP | NOT WS_VISIBLE
 PUSHBUTTON "D", ANSWER_D_BUTTON, 6, 119, 19, 15, WS_TABSTOP | NOT WS_VISIBLE
 CONTROL "", FIGURE_WINDOW, "static", SS_WHITERECT | WS_CHILD | NOT WS_VISIBLE, 9, 146, 342, 110
 LTEXT "", ANSWER_A_TEXT, 29, 36, 324, 25, NOT WS_GROUP | NOT WS_VISIBLE
 LTEXT "", ANSWER_B_TEXT, 29, 63, 324, 25, NOT WS_GROUP | NOT WS_VISIBLE
 LTEXT "", ANSWER_C_TEXT, 29, 90, 324, 25, NOT WS_GROUP | NOT WS_VISIBLE
 LTEXT "", ANSWER_D_TEXT, 29, 117, 324, 25, NOT WS_GROUP | NOT WS_VISIBLE
 LTEXT "", QUESTION_TEXT, 29, 10, 300, 25, NOT WS_GROUP | NOT WS_VISIBLE
}

PassFailDialog DIALOG 98, 90, 164, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Exam Results"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 101, 58, 50, 15
 PUSHBUTTON "See Results", RESULTS_BUTTON, 13, 58, 54, 15, WS_GROUP | WS_TABSTOP
 ICON "HamExam", -1, 4, 10, 18, 20
 LTEXT "", PASS_FAIL_TEXT, 24, 7, 132, 42
}

ResultsDialog DIALOG -98, -102, 360, 276
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Examination Results"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 221, 257, 38, 15
 PUSHBUTTON "Details", SUMMARY_DETAILS_BUTTON, 101, 257, 38, 15
 EDITTEXT RESULTS_TEXT_EDIT, 6, 7, 349, 244, ES_MULTILINE | ES_READONLY | ES_WANTRETURN | NOT WS_TABSTOP | WS_BORDER | WS_VSCROLL
}

AboutDialog DIALOG 80, 85, 200, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About HamExam"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 85, 70, 29, 14
 ICON "HamExam", -1, 5, 10, 18, 20
 LTEXT "", ABOUT_TEXT, 31, 12, 158, 52, NOT WS_GROUP
}

WrongAnswerDialog DIALOG 24, 93, 312, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Wrong Answer!"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 142, 59, 28, 14
 ICON "HamExam", -1, 9, 10, 18, 20
 LTEXT "", WRONG_ANSWER_TEXT, 30, 4, 279, 50
}

